body {
    display: flex;
    padding:20px;
    margin:0;
    background-color: white;
    justify-content: center;
    align-content: flex-start; 
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#container {
    background-color: grey;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border:solid;
    border-color: rgb(153, 153, 153);
    margin:0;
    justify-content: center;
    align-content: flex-start;
    flex-shrink: 0;
    box-sizing:border-box;
}

/*.grid {
    background-color: grey;
    border:solid;
    border-color: black;
    height:100px;
    width: 100px;
}*/